@import 'reset';
html,
body {
	width: 100%;
	height: 100%;
    font-family: 'Marmelad','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro';
}
#wrap {
	width: 100%;
	min-width: 1200px;
	height: 100%;
	background-image: url(../img/bg.jpg);
	background-size: cover;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 126px;
  background-image: url(../img/header-bg2.png);
  background-repeat: repeat;
}
#header-in {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
#container {
  position: relative;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}
#logo {
  width: 72px;
  margin-top: 11px;
}
#my-video {
  position: absolute;
  top: 8px;
  right: 0px;
  width: 66px;
  padding: 2px;
  background-color: #589fc8;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

/*---------------------------
TOP
----------------------------*/

form {
	width: 740px;
	margin: 0 auto;
	text-align: center;
}
#input-wrap {
	margin-top: 90px; 
}
#input {
	width: 540px;
	padding: 20px 28px;
	background-color: rgba(255,255,255,0.9);
	border: none;
	font-size: 24px;
	text-align: center;
	border-radius: 4px;
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.16);
}
h2 {
	font-size: 54px;
	color: #36465b;
  padding-top: 210px;
	letter-spacing: 0.12em;
}
.btn {
	display: inline-block;
	border: 4px solid #589fc8;
	border-radius: 10px;
	padding: 10px 20px 14px;
	font-size: 48px;
	margin-top: 80px;
}
.passive {
	color: #589fc8;
	background-color: transparent;
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.16);
}
.active {
	color: #fff;
	background-color: #589fc8;
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.23);
}


/*---------------------------
video-chat
----------------------------*/

#other-area {
  width: 480px;
  padding-top: 85px;
}
#other-area li {
  float: left;
  width: 200px;
  padding: 5px;
  background-color: #589fc8;
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.16);
  &:nth-child(odd) {
    margin: 15px 15px 15px 0px; 
  }
  &:nth-child(even) {
    margin: 15px;
  }
}
#other-area li video {
  width: 200px;
  float: left;
}
#message-area {
	position: absolute;
	top: 108px;
	right: 0px;
	width: 480px;
  height: 72%;
  padding: 20px;
	background-color: rgba(255,255,255,0.7);
	overflow: scroll;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 3px rgba(0,0,0,0.16);
}
#message-area li{
  position: relative;
  display: -webkit-box;
  padding: 20px 0;
  line-height: 1.5em;
  letter-spacing: 0.06em;
}
#message-area li time {
  position: absolute;
  bottom:0px;
  right: 0px;
  font-size: 10px;
}
.user-name{
  width: 80px;
  overflow:hidden;
  white-space:nowrap;
  text-overflow:ellipsis;
  font-size: 14px;
}
.user-text {
  width: 385px;
  padding-left: 15px;
  font-size: 14px;
}
#recording-text {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 15px;
  background-color: rgba(54,70,91,0.7);
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 12px 0;
}

/* clearfix
--------------------------------------*/        
.cf:after{
	  content: "."; 
	  display: block; 
	  height: 0; 
	  font-size:0;	
	  clear: both; 
	  visibility:hidden;
}